@font-face {
  src:url(./fonts/sweet_hipster-webfont.ttf);
  font-family:sweet_hipsterregular;
}

* {
  margin: 0;
}

nav{
  background-color: white;
  padding-right: 20px;
  padding-left: 20px;
  padding-top: 0px;
  padding-bottom: 0px;

}
nav ul {
list-style: none;
text-align: center;
}

nav ul li{
  display: inline-block;
  font-style: oblique; 
  padding: 10px;
  position: relative;
}
nav ul li a{
 text-decoration: none;
 color: rgba(71, 15, 109, 0.473);
 font-family:sweet_hipsterregular ;
 font-size: 40px;
 font-weight: 400;
 padding: 40px;
}